<section class="answers">
    <div class="container">
        <div class="answers__pre-title">
            <span>Результат прохождения теста</span>
            <img src="/images/arrow_gray.png" alt="arrow_gray">
            <span class="answers__test-name" id="test-name">Тест №1. “JavaScript: Начальный уровень”</span>
        </div>
        <h1 class="big__title"><span>Правильные ответы к</span> тесту</h1>
        <div class="answers__user-data" id="user-data">
            Тест выполнил <span>Роман Чернов, roman@itlogia.ru</span>
        </div>
        <div class="answers__items" id="answers__items">

        </div>
        <div class="answers__return-to-result">
            <a href="javascript:void(0)" class="common__link" id="return-to-result">Обратно к моему результату теста <img src="/images/test_arrow.png" class="common__arrow" alt="arrow"></a>
        </div>

    </div>
</section>