<section class="choice">
    <div class="container">
        <div class="choice__content">
            <h1 class="choice__title common__title">
                Выберите <span>тему теста</span>
            </h1>
            <div class="choice__description">
                Чтобы начать тест, выберите одну из предложенных ниже тем.
            </div>
            <div class="choice__options" id="choice__options"></div>
        </div>
        <div class="choice__image">
            <img src="/images/Choice_image.png" alt="choice_image">
        </div>

    </div>
</section>