<section class="main">
    <div class="container">
        <div class="main__content">
            <h1 class="big__title">
                Проверь свои знания JavaScript вместе с <span>АйтилогияQuiz</span>!
            </h1>
            <div class="main__description">
                Мы поможем подготовиться к контрольному заданию или тесту по JavaScript!
            </div>
            <div class="main__button">
                <a href="#/signup" class="btn">Начать тест</a>
            </div>
        </div>
        <div class="main__image">
            <img src="/images/main_image.png" alt="main image">
        </div>
    </div>
</section>