<section class="form">
    <div class="container">
        <div class="form__content">
            <h1 class="form__title common__title">
                Регистрация
            </h1>
            <div class="form__details">
                <div class="form__group">
                    <input type="text" class="form__input" id="name" required>
                    <label for="name" class="form__label">Имя</label>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" id="last_name" required>
                    <label for="last_name" class="form__label">Фамилия</label>
                </div>
                <div class="form__group">
                    <input type="text" class="form__input" id="email" required>
                    <label for="email" class="form__label">Электронная почта</label>
                </div>
                <div class="form__group">
                    <input type="password" class="form__input" id="password" required>
                    <label for="password" class="form__label">Пароль</label>
                </div>
                <div class="form__agree">
                    <input type="checkbox" id="agree" required>
                    <label for="agree">Я ознакомлен <a href="#">с правилами сайта</a></label>
                </div>
            </div>
            <div class="form__btn">
                <button class="btn" id="process" disabled>Перейти к выбору теста</button>
            </div>
            <div class="form__link">
                Уже зарегистрированы? <a href="/#/login">Войти</a>
            </div>
        </div>
        <div class="form__image">
            <img src="/images/Info_image.png" alt="Form image">
        </div>
    </div>
</section>