.main{
padding-top:190px;
    padding-bottom:231px;
}
.main .container{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main__content{
    max-width: 588px;
}

.main__description{
    max-width: 486px;
    margin-top:40px;
    font-size: 20px;
    line-height: 24px;
}
.main__button{
    margin-top:60px;
}
