.test {
    padding-top: 20px;
    padding-bottom: 50px;
}


.test__progress-bar {
    margin-top: 60px;
    margin-bottom: 80px;
    display: flex;
}


.test__question-options {
    margin-top: 58px;
    min-height: 344px;
}

.test__question-option {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 20px;
    display: flex;
}

.test__question-option label {
    cursor: pointer;
}

.test__actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.test__time {
    display: flex;
    align-items: center;
}

.test__time-text {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    margin-right: 15px;
}

.test__time-clock {
    background-image: url("/images/time.png");
    background-size: cover;
    background-position: center;
    width: 27px;
    height: 29px;
    font-size: 10px;
    text-align: center;
    line-height: 29px;
}

.test__pass-question {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.test__progress-bar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.test__progress-bar-item:not(:first-child) {
    margin-left: 130px;
}

.test__progress-bar-item:not(:last-child)::before {
    content: "";
    z-index: -1;
    position: absolute;
    width: 184px;
    height: 6px;
    background: #DCDCF3;
    top: 10px;
    left: 28px;
}

.test__progress-bar-item.complete:not(:last-child)::before {
    background: #6933DC;
}

.test__progress-bar-item-circle {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #DCDCF3;
}

.test__progress-bar-item-text {
    margin-top: 10px;
    font-size: 13px;
    line-height: 16px;
}

.test__progress-bar-item.complete .test__progress-bar-item-circle,
.test__progress-bar-item.active .test__progress-bar-item-circle {
    background: #6933DC;
}

.test__progress-bar-item.active::after {
    content: "";
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    width:14px;
    height:14px;
    background: #DCDCF3;
    top:6px;

}
.test__pass{
    border:0;
    background: transparent;
    cursor:pointer;
}
.test__pass:disabled{
    color: #e2dfe7;
}